doctype html
html
    head
        style
            include style.css
        body
            div.content
                block content
            div.footer
                | Дякуємо, що ви з нами!
                br
                a(href='http://google.com') Click here!